.container-review .box{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 2.5rem;
    flex: 1 1 40rem;
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-top: 5%;
   
}

.container-review{
    display: flex;
    flex: 1 1 50rem;
    flex-wrap: wrap;
    gap:1.5rem;
}
span{
    font-size: 20px;
}
.container-review   img{
width: 100%;
border-radius: 50%;
height: 100%;
}
.description p{
    color: black;
   

}
.name{
    text-align: center;
    
}
h4{
    font-size: 20px;
    margin-top: 3%;
}