.container-review .box{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    flex: 1 1 40rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-top: 5%;
   
}

.container-review{
    display: flex;
    flex: 1 1 50rem;
    flex-wrap: wrap;
}
span{
    font-size: 20px;
}
.container-review   img{
width: 100%;
border-radius: 50%;
height: 100%;
}